<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="UserName" value="dfcni\swathiy"/>
    <add key="Password" value="Pass@123"/>
    <add key="SoapOrgServiceUri" value="http://192.168.87.5:5555/spslive31b/xrmservices/2011/organization.svc"/>
    <add key="RootDirectory" value="C:\myOutbound"/>
  </appSettings>
</configuration>